.service {
    color: rgb(97, 153, 151);
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 97%;
    margin: 0.7rem auto ;
    box-shadow: 0 0 7px -2px rgb(97, 153, 151);
    border-radius: 5px;
    padding-top: 1.3rem;
    background-color: white;
}

.service > p {
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
}

.service-icon {
    font-size: 30px;
    margin: 0 auto;
}