.products-card {
    padding: 0.4rem;
    border-radius: 5px;
    background-color: white;
}

.product-img-container {
    height: 80px;
}

.product-name {
    font-size: 8px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product-name {
    text-align: center;
    margin-top: 5px;
}

.products > h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem;
}

.products > h1 {
    background-color: rgb(188, 250, 248);
    color: rgb(48, 121, 120);
}

.products > h2 {
    color: gray;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 0.2rem;
    border-bottom: 1.5px solid black;
    width: 72%;
    text-align: center;
    margin: 0.7rem auto 0.5rem auto;
    
}

.products {
    width: 95%;
    margin: 0.8rem auto;
}