.header-container {
    background-color: rgb(97, 153, 151);
    padding: 0.65rem 0;
}

#header-section-one {
    padding: 0 0.4rem;
    margin-bottom: 1rem;
}

#header-section-one, 
#header-section-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#header-section-two {
    width: 88%;
    margin: 0 auto;
}

.react-icons {
    font-size: 20px;
}

#location-text {
    border: 2px solid white;
    padding: 0.38rem;
    border-radius: 10px;
    width: 73%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    display: inline-block;
}

#search-products {
    margin-left: 10px;
}

#search-input {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 88%;
    border-radius: 5px;
}

#search-input:first-child {
    color : rgb(97, 153, 151);
    margin-right: 1rem;
}